<h1>Portal Dashboard</h1>

<div id="dashboard_container">
  <%- @widgets.each do |widget| -%>
    <div class="widget">
      <h2><%= widget.name %></h2>
      <%= raw widget.content %>
    </div>
  <%- end -%>
</div>
